@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700|Open+Sans:300,400");

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-image: url("img/parkway.jpeg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*** mav ***/

nav {
  font-family: "Montserrat", sans-serif;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
  color: white;
  opacity: 0;
  transition: all 1s;
}

nav.on {
  opacity: 1;
}

nav .logo {
  background-image: url("img/parkway-logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -10px;
  width: 250px;
  height: 70px;
}

nav .links {
  display: flex;
}

nav .links a.item {
  margin-right: 20px;
  font-size: 24px;
  font-weight: 200;
  color: inherit;
  text-decoration: none;
}

nav .links a.item.is-active {
  text-decoration: underline;
}

nav .links a.item:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  align-items: center;
}

.socials > * {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
}

.facebook {
  background-image: url("img/fb.png");
}

.insta {
  background-image: url("img/insta.png");
  fill: white;
  filter: invert(100%);
}

.twitter {
  background-image: url("img/twitter.png");
}

@media (max-width: 960px) {
  nav {
    display: block;
  }

  nav .links {
    flex-wrap: wrap;
  }

  nav .links > * {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  nav .links {
    display: block;
  }

  nav .links a {
    display: block;
  }
}

/****** booking *******/
.title {
  margin: 0 0 4px;
  font-weight: bold;
}

.subtitle {
  margin: 0 0 30px;
}

form {
  padding: 40px;
  margin: 50px auto;
  margin-top: 20px;
  max-width: 600px;
  font-size: 16px;
}

.field {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 10px;
  margin: 20px 0;
}

.field div label {
  display: block;
  margin: 4px 0;
}

.field > label {
  font-size: 18px;
  font-weight: 600;
}

.field input {
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 6px;
  background: white;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="textarea"] {
  width: 100%;
}

.field input:focus {
  border: none;
}

.field button {
  width: 100%;
  grid-column: span 2;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: white;
}

.field button:hover {
  cursor: pointer;
  background: rgba(246, 246, 246, 1);
}

.field textarea {
  resize: vertical;
  display: block;
  width: 100%;
  min-height: 80px;
}

@media (max-width: 760px) {
  .field {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .field {
    display: block;
  }

  .field input,
  .field textarea {
    margin-top: 6px;
  }

  form {
    margin-bottom: 0;
  }
}

/* components */
.wrapper {
  margin: 50px;
  padding: 20px;
  color: #111;
  font-weight: 500;
}

/* helpers */
.background-white {
  background: rgba(255, 255, 255, 0.9);
}
